@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    margin: 60px auto;
    width: 80%;
    background-color: #171717;
    color: #ffffff;
    height:100%;
    width:100%;
    padding: 60px;
    padding-left: 120px;

}

section {
    display: block;
    height:100%;
    width:100%;
}

html{
    height:100%;
    width:100%;
    scroll-behavior: smooth;
}

.column {
    float: left;
}
.left {
    width: 70%;
    font-size: 1.2em;
    font-family:'Helvetica';
    line-height: 1.5em;
    color: #ffffff;
    text-align: left;
}
.right { 
    width: 30%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
.fade
{
        transition:all 0.3s ease;
        opacity:0.5;
        position: sticky;
}
.fade:hover
{
        opacity:1;
}

nav{
    overflow: hidden;
    transition:all 0.3s ease;
    opacity:0.5;
    position: fixed;
    padding-bottom: 50px;

}

nav ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li {
    display: inline;
    margin-right: 20px;
}

/*_________________NAVBAR */
/* Style the navbar */
#navbar {
  overflow: hidden;
  background-color: #333;
}

/* Navbar links */
#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}

a {
    text-decoration: none;
    color: #ee6d66;
}
a:hover {
    text-decoration: underline;
}
h1{
    font-size: 4em;
    font-family:'Lato';
    color: #fad3d1;
}
h2{  
    font-size: 2.5em;
    padding-top: 20px;
    font-family:'Lato';
    color: #efeaea;
}
h3{
    font-size: 2em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';   
    color: #fad3d1;
}
h4{
    font-size: 1.5em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: #fad3d1;       
}
p {
    font-size: 1.0em;
    font-family:'Helvetica';
    line-height: 1.4em;
    color: #ffffff; 
    text-align: center;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.2em;
}
ul {
    padding:10px;
    font-size: 1.2em;
    list-style: square;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: #fad3d1;
}


/* RECENT WORK
–––––––––––––––––––––––––––––––––––––––––––––––––– */


* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 20px;
  height: 550px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline ul {
  padding: 50px 0;
}

.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  padding-top: 50px;
  background: #fff;
}

.timeline ul li::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: inherit;
}

.timeline ul li div {
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 15px;
  background: #F45B69;
}

.timeline ul li div::before {
  content: '';
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline ul li:nth-child(odd) div {
  left: 45px;
}

.timeline ul li:nth-child(odd) div::before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent #F45B69 transparent transparent;
}

.timeline ul li:nth-child(even) div {
  left: -439px;
}

.timeline ul li:nth-child(even) div::before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent #F45B69;
}

time {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
}


/**** SOCIAL MEDIA ICONS FOOTER ***/
.footer-social-icons {
    width: 350px;
    display:block;
    margin: 1em;

}
.social-icon {
    color: #fff;
}
ul.social-icons {
    margin-top: 10px;
}
.social-icons li {
    vertical-align: top;
    display: inline;
    height: 100px;
}
.social-icons a {
    color: #fff;
    text-decoration: none;
}
.fa-github {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-github:hover {
    background-color: #6cc644;
}
.fa-twitter {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-twitter:hover {
    background-color: #00aced;
}
.fa-instagram {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-instagram:hover {
    background-color: #eb8231;
}
.fa-linkedin {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-linkedin:hover {
    background-color: #0073a4;
}