<!DOCTYPE html>
<html>
  <head>
    <!-- Link to CSS files -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">

    <!-- Link to JS files -->
    <script src="../p5.min.js"></script>
    <script src="../p5.dom.min.js"></script>
    <script src="stripe.js"></script>
    <script src="sketch.js"></script>

  <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.3/vue.min.js'></script>
	<script src='https://unpkg.com/@trainorpj/sentiment@4.1.4/bundle/bundle.js'></script>

  </head>
  <body>


  	<div id="sketch-holder">
      <!-- First sketch will go here! -->
    </div>

    <h1> Buy the rumour, Sell the News </h1>

    <div id="sketch2-holder">
      <!-- Second sketch will go here! -->
    </div>
    <p> This is where the sentimental analysis explanation will go </p>

    <div id="app">
	  <div id="top" :style="bgc">
    	<div class="labels">
   	   	<div style="width: 80%;">Type in a phrase</div>
      	<div class="score">Score</div>
    	</div>
    	<div class="interactive">
      	<textarea v-model="phrase"></textarea>
      	<p class="score">{{analysis.comparative}}</p>
    	</div>
  		</div>
  		<div id="middle">
    	<template v-for="emoji in emojis">
      	<div class="emoji" 
           v-bind:style="{ backgroundColor: getBgc(emoji)}">
        {{emoji}}
      	</div>
    	</template>
  		</div>
  		<div id="footer" :style="bgc">
    		Score is based on (weighted) sum of positive words and negative words, divided by number of words. (Inspired by: https://codepen.io/pj_/)
  		</div>
	</div>
  </body>
</html>
