<!DOCTYPE html>
<html>
  <head>
  <meta charset="UTF-8">
  <title>Sentiment Analysis</title>
    <!-- Link to CSS files -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">

    <!-- Link to JS files -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/d3/4.11.0/d3.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.3/vue.min.js'></script>
    <script src='https://unpkg.com/@trainorpj/sentiment@4.1.4/bundle/bundle.js'></script>
    <script src="../p5.min.js"></script>
    <script src="../p5.dom.min.js"></script>
    <!--Link to P5JS Files -->
    <script src="sketch.js"></script>
    <script src="stripe.js"></script>
  </head>
  <body> 
  	<div id="sketch-holder">
      <!-- First sketch will go here! -->
    </div>
    <div id="sketch2-holder">
      <!-- Striped sketch here -->
    </div>
    <p>
      This is where the sentimental analysis explanation and animation will go. <br>
      Extract sentiment from Natural Language <br><br>
      We will use the 'Bag of words' algorithm to demonstrate the working:-
      <!-- Insert canvas/chart2.js -->
    </p>

    <!-- Sentiment Analysis: "Try it yourself component" -->
    <div id="app">
	  <div id="top" :style="bgc" >
    	<div class="labels">
   	   	<div style="width: 70%;">Type in a phrase</div>
      	<div class="score">Score</div>
    	</div>
    	<div class="interactive">
      	<textarea v-model="phrase"></textarea>
      	<p class="score">{{analysis.comparative}}</p>
    	</div>
  		</div>
  		<div id="middle">
    	<template v-for="emoji in emojis">
      	<div class="emoji"
           v-bind:style="{ backgroundColor: getBgc(emoji)}">
        {{emoji}}
      	</div>
    	</template>
      </div>
    </div>
    <p> <i> Methodology and credit: </i> <br>
     Score is based on (weighted) sum of positive words and negative words, divided by number of words. (Inspired by: https://codepen.io/pj_/) <br>
	   Bag of words sentiment analysis example data inspired by https://www.quantinsti.com/blog/sentiment-analysis-in-trading/
    </p>

  <!-- Link to d3 javascript for sentiment try-it-yourself -->
  <script  src="js/index.js"></script>
</body>
</html>
