<!DOCTYPE html>
<html>
  <head>
  <meta charset="UTF-8">
  <title>Sentiment Analysis</title>
    <!-- Link to CSS files -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/glow.css">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Iceland" />
    
    <meta name="viewport" width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0>
    <style> body {padding: 0; text-align:center; margin: 0;} </style>
    <!-- Link to JS files -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/d3/4.11.0/d3.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.3/vue.min.js'></script>
    <script src='https://unpkg.com/@trainorpj/sentiment@4.1.4/bundle/bundle.js'></script>
    <script src="../p5.min.js"></script>
    <script src="../p5.dom.min.js"></script>
    <!--Link to P5JS Files -->
    <script src="wordring.js"></script>
    <script src="stripe.js"></script>
  </head>
  <body> 

    <div id="container">
      <p><a href="#">BUY</a> the Rumour</p>
      <p><a href="#"> SELL </a> the News</p>
    </div>

    <H2> Examining Algorithms that drive the Stock Market through visualizations <H2>
    
    <h3>
      Sentiments can often drive the direction of the markets. Hence, traders and other participants in the financial markets seek to gauge the sentiment expressed in news reports/tweets/blog posts. <BR><BR>
      Traders build automatic trading systems which extract the sentiment from natural language. These trading systems take long/short positions in the markets based on the trading signals generated.
      <br><br>
      <br>
    </h3>

    <H2> Using the 'Bag of words' algorithm to demonstrate how the sentiment of the market is driven - </H2>
      In this data visualization we explore the algorithm's workings in the following steps:-<br><br>
      1. Collect popular words or trends into a document <br>
      2. Extract sentiment from natural language <br>
      3. Take long/short positions on the trading signals <br><br><br>

    <div id="sketch-holder">
      <!-- First sketch will go here! -->
    </div>
    <div id="sketch2-holder">
      <!-- Striped sketch here -->
    </div>
    <!--
    <H1> Type a word to see it's score here- </H1>
     Sentiment Analysis: "Try it yourself component" -->
    <div id="app">
    <div id="top" :style="bgc" >
      <div class="labels">
        <div style="width: 70%;">Type in a word/phrase to see it's score here</div>
        <div class="score">Score</div>
      </div>
      <div class="interactive">
        <textarea v-model="phrase"></textarea>
        <p class="score">{{analysis.comparative}}</p>
      </div>
      </div>
      <div id="middle">
      <template v-for="emoji in emojis">
        <div class="emoji"
           v-bind:style="{ backgroundColor: getBgc(emoji)}">
        {{emoji}}
        </div>
      </template>
      </div>
    </div>
    
    <h2> The Hypothesis </h2>
    <h3>
    There have been several instances of wherein this algorithm and approach have been used to sway the market. <br> 
    Investors buy stocks while they are bullish according to the popularity of the things spoken by people on the internet and then have the power to move and sway the market to make it bearish in just a few days time.
    <br> 
    <br>
    Shown below is a plot of NIFTY vs NIFTY Pharma for the months of October-November 2016. It highlights some of the press releases on which the sentiment analysis model was run. <br><br>
    The impact of the uncertainty regarding the US Presidential election results, and the negative news for the Indian Pharma sector emanating from the US is clearly visible on NIFTY Pharma as it fell substantially from the highs made in late October’2016. One could say that our attempt to gauge the direction of the Pharma Index follows a trend of the actual market very closely.
    </h3>
    <a href="https://shreyavaidy.github.io/dvproj/FinalProject/chart5.html"> See the resulting line graph here </a>

    <br> <br> <br>
    <p> <i> Methodology and credit: </i> <br>
     Bag of words sentiment analysis example data inspired by https://www.quantinsti.com/blog/sentiment-analysis-in-trading/<br>
     Score is based on (weighted) sum of positive words and negative words, divided by number of words. (Inspired by: https://codepen.io/pj_/) <br>
    </p>

  <!-- Link to d3 javascript for sentiment try-it-yourself -->
  <script  src="js/index.js"></script>
</body>
</html>
