@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

body {
    margin: 60px auto;
    width: 70%;
    background-color: #d7dde5;
    background-color: #252525; 
}
.column {
    float: left;
}

.left {
    width: 70%;
    font-size: 1.1em;
    font-family:'Helvetica';
    line-height: 1.4em;
    color: #fad3d1;
    text-align: left;
}
.right { 
    width: 30%;
}
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.fade
{
        transition:all 0.3s ease;
        opacity:0.5;
}
.fade:hover
{
        opacity:1;
}
nav ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #ee6d66;
}
a:hover {
    text-decoration: underline;
}
h1{
    font-size: 4em;
    font-family:'Lato';
    color: #efeaea;
}
h2{  
    font-size: 2.5em;
    padding-top: 20px;
    font-family:'Lato';
    color: #efeaea;
}
h3{
    font-size: 2em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';   
    color: #fad3d1;
}
h4{
    font-size: 1.5em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: #fad3d1;       
}
p {
    font-size: 1.0em;
    font-family:'Helvetica';
    line-height: 1.4em;
    color: #fad3d1;
    text-align: center;
}
ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.2em;
}

ul {
    padding:10px;
    font-size: 1.2em;
    list-style: square;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: #fad3d1;
}

.footer-social-icons {
    width: 350px;
    display:block;
    margin: 0 auto;
}
.social-icon {
    color: #fff;
}
ul.social-icons {
    margin-top: 10px;
}
.social-icons li {
    vertical-align: top;
    display: inline;
    height: 100px;
}
.social-icons a {
    color: #fff;
    text-decoration: none;
}
.fa-github {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-github:hover {
    background-color: #6cc644;
}
.fa-twitter {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-twitter:hover {
    background-color: #00aced;
}
.fa-instagram {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-instagram:hover {
    background-color: #eb8231;
}
.fa-linkedin {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-linkedin:hover {
    background-color: #0073a4;
}
.fa-behance {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-behance:hover {
    background-color: #e25714;
}
.fa-google-plus {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-google-plus:hover {
    background-color: #FF0000;
}