@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700");

h1 {
  font-weight: bold;
  color: #252525;
  font-size: 32px;
  text-align: left;
  padding-top: 20px;
  padding-bottom: 10px;
}

h2 {
  font-weight: bold;
  color: #252525;
  font-size: 24px;
  text-align: center;
  padding-bottom: 10px;
  padding-top: 20px;
}

h3 {
  color: #252525;
  font-size: 18px;
  text-align: left;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #fafae5;
}

p{
 font-family: "Open Sans", sans-serif;
 padding-left: 50px;
 padding-top: 50px;
 padding-bottom: 30px;
}

#app {
  display: grid;
  grid-template-rows: 40vh 1fr 30vh 1fr;
  grid-template-columns: repeat(8, 1fr);
}

#top {
  grid-column: 1/9;
  grid-row: 1/2;
  font-size: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1em 2em;
  background-color: #FEFBC4;
}

textarea {
  resize: none;
  font-size: 1em;
  padding-bottom: 10px;
  text-align: left;
  outline: none;
  width: 70%;
  background-color: transparent;
  border-color: transparent;
  border-bottom: black solid 1px;
}

.labels {
  display: flex;
  justify-content: flex-start;
  font-size: 16px;
  text-align: center;
  margin-bottom: 10px;
  margin-left: 30px;
}

.interactive {
  display: flex;
  margin-left: 0px;
  text-align: center;
}

.score {
  width: 30%;
  margin-left: 0px;
  text-align: center;
}

#middle {
  grid-column: 1/9;
  grid-row: 2/3;
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  font-size: 3em;
}

.emoji {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  padding: 1em 0;
}

.word-list {
  color: white;
  overflow-y: scroll;
  padding-top: 1em;
  padding-left: 1em;
}

#positive {
  grid-column: 1/5;
  grid-row: 3/4;
  background-color: #195E4B; <!-- green -->
}

#negative {
  grid-column: 5/9;
  grid-row: 3/4;
  background-color: #b71c1c; <!-- red -->
}

.list-head {
  font-size: 1.3em;
  padding-bottom: 10px;
  text-decoration: bold;
}

li {
  padding: 5px 0 5px 10px;
}

#footer {
  grid-column: 1/9;
  grid-row: 4/5;
  text-align: center;
  padding: 1em;
}
